export(firefoxClass)
export(webElementClass)
export(.DollarNames.firefoxClass)
export(.DollarNames.webElementClass)
import(methods)
import(rJava)
import(seleniumJars)
importFrom(XML, htmlParse)
importFrom(XML, htmlTreeParse)
importFrom(XML, xmlAttrs)
importFrom(XML, xmlRoot)
importFrom(XML, readHTMLTable)
